<form action="/login" method="POST">
<div class="login-txt">
<h1>Log in 👇 </h1>
</div>
<div class="lables-login">
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   </div>
   <button class="btn-login" type="submit"><span>Let's go</span></button>
</form>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}