<form action="/signup" method="POST">
<div class="login-txt">
<h1> Sign up </h1>
</div>
<div class="lables-signup">
   <label><b> Email</b>
      <input type="email" name="email">
   </label>
   <label> <b>Password</b>
      <input type="password" name="password">
   </label>
   </div>
<div class="lets-go-btn">
   <button class="btn-login" type="submit"><span>Create acc</span></button>
</div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}