<body class="bg-home">
<div class="search-box">
    <form class="search-box" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />

      <button class="button" type='submit'>Search for Sneakers</button>
    </form>
</div>
</body>

