<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<body class="bg-home">
  <div class="logo-home">
  <img src="/images/ironkicksLOGO-removebg-preview.png" alt="">
  </div>
<div id="srch-box">
    <form class="search-box" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />
      <button class="search-btn" type='submit'><span>Search for Sneakers</button></span>
    </form>
</div>
</body>

