<link rel="stylesheet" href="/stylesheets/style.css">
<h1>sneakers</h1>


<ul class="container">
  {{#each products}}
    <div class="box">

<form action="/sneaker-details" method="post"> <input type="text" value="{{this.shoeName}}" name="name" hidden> 
<button type="submit"> <img src="{{thumbnail}}" alt="sneaker image"> </button> </form> 


     
      {{!-- <div class="box"> --}}
       <p>{{shoeName}}</p>
      {{!-- </div> --}}
    
    </div>
  {{/each}}
</ul>


  	
