<link rel="stylesheet" href="/stylesheets/style.css">
<h1>sneakers</h1>


<ul class="container">
  {{#each products}}
    <li class="box">
      <p>{{shoeName}}</p>
      {{!-- <div class="box"> --}}
      <img src="{{thumbnail}}" alt="">
      {{!-- </div> --}}
    </li>
  {{/each}}
</ul>
