@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  font: 50px;
  font-size: 20px;
}

a {
  color: #00b7ff;
  list-style: none;

}

.bg-home {
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat:repeat-y;
}

.search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 250px 520px;
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
}



/* Font Styles */

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-size: 2.5em;
}
/* Footer */
footer {
  background-color: var(--white);
  outline: 10px solid var(--white);
  outline-offset: 6px;
  padding: 15px;
  margin: 20px;
  color: var(--black);
  text-align: center;
  font-size: 1rem;
}
footer a {
  color: var(--black);
  text-decoration: underline;
}
.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 250px 520px;
  width: 500px;
  height: 200px;
  padding: 10px 20px; 
}
.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: stretch; */
}


.box {
  width: 20em;
  object-fit: contain;
  margin: 13px;

}

.box p {
  font-size: 1em;
}

img {
  width: 100%;
}
.profile-user {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
  /* border: 1px solid red; */
}
.login-txt {
  text-align: center;
}
.lables-login {
  text-align: center;
}
.btn-login {
  justify-content: center;
  display: inline-block;
  border-radius: 50px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
.btn-login {
  color: white;
  padding: 10px 30px;
  text-decoration: white;
  font-size: 1.5em;
  margin: 20px 20px;
}
.btn-login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-login:hover span {
  padding-right: 25px;
}

.btn-login:hover span:after {
  opacity: 1;
  right: 0;
}

.search-btn {
  color: white;
  padding: 10px 30px;
  text-decoration: white;
  font-size: 1.5em;
  margin: 20px 20px;
}
.search-btn {
  justify-content: center;
  display: inline-block;
  border-radius: 50px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.search-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.search-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.search-btn:hover span {
  padding-right: 25px;
}

.search-btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* .shoe-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: solid 15px purple;
    text-align: center;
} */

.btn-sneaker-pg {
  border: 1px #EEE;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px; 
  margin: 50px 1% 0% 1%;
  padding: 5px;
}